body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .content-calendar {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #f7f8fa;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .nav {
      background-color: #313945;
      position: fixed;
      top: 0px;
      left: -12em;
      height: 100vh;
      width: 12em;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      z-index: 99;
      transition: 0.6s ease-in-out;

      .nav-header {
        height: 10em;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .logo {
          width: 5em;
          user-select: none;
        }
      }

      ol {
        list-style: none;
        width: 100%;
        padding: 0px;

        li {
          color: white;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 1em 0em;
          cursor: pointer;
          transition: 0.3s ease-in-out;
          user-select: none;

          i {
            margin-right: 0.5em;
          }

          p {
            font-size: 0.9em;
            font-weight: bold;
            width: 50%;
            line-height: 0.9em;
            margin: 0px;
          }
        }

        li:hover {
          color: #313945;
          background-color: #f7f8fa;
          transition: 0.3s ease-in-out;
        }
      }
    }

    .btnMenuResponsive {
      width: 3em;
      height: 3em;
      position: fixed;
      top: 0em;
      left: 0em;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #f7f8fa;
      background-color: #162b3e;
      cursor: pointer;
      transition: 0.6s ease-in-out;
      border-radius: 0px 6px 6px 0px;
      z-index: 9;

      i {
        font-size: 1.5em;
      }
    }

    .calendar-section {
      width: 100%;
      margin-left: 0em;
      padding-bottom: 4em;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .info-section {
        margin-top: 2em;
        overflow: hidden;
        width: 100%;
        height: 5em;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease-in-out;

        .resource-content {
          background: #313945;
          padding: 0.5em;
          border-radius: 4px;
          width: 20em;
          height: auto;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-right: 0.2em;

          visibility: visible;

          label {
            width: 4em;
            color: #f7f8fa;
            margin: 0px;
          }

          .select2-container {
            width: 15em !important;
          }

          #select2-resourcesSelect-container {
            font-size: 1em;
            font-weight: bold;
            background: white;
            border-radius: 2px;
            width: 15em;
          }
        }

        #titlePage {
          font-size: 1em;
          font-weight: bold;
          color: #313945;
          background: none;
          display: flex;
          flex-direction: row-reverse;
          justify-content: center;
          align-items: center;
          width: 75%;
          padding: 0.3em 0em;
          border-radius: 8px 8px 8px 8px;
          transition: 0.3s ease-in-out;
          margin-top: 3em;

          p {
            width: 100%;
            margin: 0px;
            margin-right: 0.5em;
            text-align: center;

            i {
              padding: 0.3em;
              background: #313945;
              border-radius: 4px;
              color: white;
              margin-right: 0.2em;
            }
          }
        }
      }

      #calendar {
        width: 95%;
        margin-bottom: 0.5em;
      }
    }
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #162b3e;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #c9a892;
  }

  #modal {
    .modal-dialog {
      .modal-content {
        .modal-header {
          background: #313945;
          color: white;

          .close {
            color: white;
          }
        }

        .modal-body {
          width: 100%;

          #eventForm {
            width: 100%;

            .info-event {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-direction: row;

              .form-group {
                width: 45%;

                label {
                  font-size: 0.8em;
                  font-weight: 600;
                  color: #162b3e;
                  margin: 0px;
                }

                input {
                  background-color: #162b3e;
                  color: white;
                  user-select: none;
                }
              }
            }

            .name-event {
              width: 100% !important;

              label {
                font-size: 0.8em;
                font-weight: 600;
                color: #162b3e;
                margin: 0px;
              }
            }

            .times {
              width: 100%;
              display: flex;
              justify-content: space-around;
              align-items: center;
              flex-direction: row;
              padding: 0.5em 0.5em 0em 0.5em;
              background: #76767a12;
              border: solid 1px #80808042;
              border-radius: 8px;
              margin-top: 1.3em;

              .form-group {
                font-size: 0.9em;
                width: 11em !important;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                label {
                  font-size: 0.8em;
                  font-weight: 600;
                  color: #162b3e;
                  margin: 0px;
                  margin-bottom: -0.2em;
                }

                .beginTime-content,
                .endTime-content {
                  width: 11em;
                  height: 2.5em;
                  overflow: hidden;
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;

                  #timeBegin,
                  #timeEnd {
                    width: 7em !important;
                    height: 2.5em;
                    background-color: #162b3e;
                    color: white;
                    z-index: 1;
                    user-select: none;
                    text-align: start;
                    user-select: none;
                  }



                  .btn-content {
                    width: 5em;
                    margin-left: -1em;
                    height: 2.7em;
                    z-index: 1;
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
                    align-items: center;
                    background-color: #162b3e;
                    border-radius: 0.25rem;

                    #plusBegin,
                    #minusBegin,
                    #plusEnd,
                    #minusEnd {
                      width: 2em;
                      background-color: #162b3e;
                      color: white;
                      cursor: pointer;
                      border: none;
                      padding: 0px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      border: none;
                      margin: 0em 3px;

                      i {
                        font-size: 1.8em;
                      }
                    }

                    #plusBegin:focus {
                      border: none;
                    }
                  }
                }
              }
            }



            .extras {
              width: 90%;
              margin: auto;
              margin-top: 1em;


              tr:nth-child(1) {
                td:nth-child(1) {
                  background: #313945;
                  color: white;
                  font-size: 1.2em;
                  font-weight: 600;
                  text-align: center;
                  width: 100%;
                  height: 2em;

                  #assistantsQuantitySection {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;

                    .titleInput {
                      margin: 0px;
                    }

                    .titleAux {
                      margin: 0px;
                    }

                    #assistantsQuantity {
                      width: 6em !important;
                      text-align: center;
                    }
                  }
                }
              }












              tr:nth-child(2) {
                td:nth-child(1) {
                  padding: 0.5em 0em;

                  .contentCheck {
                    width: 6em;

                    input {
                      margin-left: 1em;
                      margin-top: 0.4em;
                    }

                    label {
                      margin: 0px;
                      margin-left: 2.4em;
                      font-weight: 600;
                    }
                  }
                }

                td:nth-child(2) {
                  padding: 0.5em 0em;

                  #drinksQuantitySection {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;

                    input {
                      height: 2em;
                      width: 4em;
                      margin-right: 1em;
                    }

                    p {
                      margin: 0px;
                      font-weight: 500;
                    }
                  }
                }
              }

              tr:nth-child(3) {
                td:nth-child(1) {
                  padding: 0.5em 0em;

                  .contentCheck {
                    width: 6em;

                    input {
                      margin-left: 1em;
                      margin-top: 0.4em;
                    }

                    label {
                      margin: 0px;
                      margin-left: 2.4em;
                      font-weight: 600;
                    }
                  }
                }

                td:nth-child(2) {
                  padding: 0.5em 0em;

                  #snacksQuantitySection {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;

                    input {
                      height: 2em;
                      width: 4em;
                      margin-right: 1em;
                    }

                    p {
                      margin: 0px;
                      font-weight: 500;
                    }
                  }
                }
              }

              tr:nth-child(4) {
                td:nth-child(1) {
                  padding: 0.5em 0em;

                  .contentCheck {
                    width: 6em;

                    input {
                      margin-left: 1em;
                      margin-top: 0.4em;
                    }

                    label {
                      margin: 0px;
                      margin-left: 2.4em;
                      font-weight: 600;
                    }
                  }
                }

                td:nth-child(2) {
                  padding: 0.5em 0em;

                  #mealsQuantitySection {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;

                    input {
                      height: 2em;
                      width: 4em;
                      margin-right: 1em;
                    }

                    p {
                      margin: 0px;
                      font-weight: 500;
                    }
                  }
                }
              }

              tr:nth-child(5) {
                td:nth-child(1) {
                  padding: 0.5em 0em;

                  .contentCheck {
                    width: 6em;

                    input {
                      margin-left: 1em;
                      margin-top: 0.4em;
                    }

                    label {
                      margin: 0px;
                      margin-left: 2.4em;
                      font-weight: 600;
                    }
                  }
                }

                td:nth-child(2) {
                  padding: 0.5em 0em;

                  #othersQuantitySection {
                    width: 80%;
                    margin: auto;


                    textarea {
                      resize: none;
                      font-size: 0.9em;
                    }
                  }


                }
              }
            }



            #buttons {
              margin-top: 2em;
              width: 100%;
              display: flex;
              justify-content: space-around;
              align-items: center;
              flex-direction: row;

              #add,
              #cancel,
              #update,
              #delete {
                width: 30%;
                font-weight: 600;

                i {
                  margin-right: 0.5em;
                }
              }

              #add {
                background-color: rgb(18, 188, 69);
                color: white;
              }

              #update {
                background-color: #41d2e9;
                color: white;
              }

              #delete {
                background-color: rgb(222, 70, 70);
                color: white;
              }

              #cancel {
                background-color: rgb(125, 125, 125);
                color: white;
              }
            }
          }
        }
      }
    }
  }

  #modalInfo {
    .modal-dialog {
      .modal-content {
        .modal-header {
          background: #313945;
          color: white;

          .close {
            color: white;
          }
        }

        .modal-body {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          table {
            tr:nth-child(1) {
              td {
                background: #313945;
                color: white;
                font-size: 1.2em;
                font-weight: 600;
                text-align: center;
              }
            }

            tr:nth-child(2) {
              td {
                background: #313945;
                color: white;
                font-size: 1.2em;
                font-weight: 600;
                text-align: center;
              }
            }

            tr:nth-child(3) {
              td:nth-child(1) {
                background: #313945;
                color: white;
                font-weight: 600;
                height: 3.5em !important;
                line-height: 2;
                text-align: center;
                padding: 0px;
                vertical-align: middle;
              }

              td:nth-child(2) {
                height: 3.5em !important;
                line-height: 2;
                text-align: center;
                padding: 0px;
                vertical-align: middle;

                p {
                  margin: 0px;

                  span {
                    font-weight: 600;
                  }
                }
              }
            }

            tr:nth-child(4) {
              td:nth-child(1) {
                background: #313945;
                color: white;
                font-weight: 600;
                height: 3.5em !important;
                line-height: 2;
                text-align: center;
                padding: 0px;
                vertical-align: middle;
              }

              td:nth-child(2) {
                height: 3.5em !important;
                line-height: 2;
                text-align: center;
                padding: 0px;
                vertical-align: middle;

                p {
                  margin: 0px;

                  .fa-circle-xmark {
                    color: red;
                    font-size: 1.5em;
                  }

                  .fa-circle-check {
                    color: green;
                    font-size: 1.5em;
                  }
                }
              }
            }

            tr:nth-child(5) {
              td:nth-child(1) {
                background: #313945;
                color: white;
                font-weight: 600;
                height: 3.5em !important;
                line-height: 1;
                text-align: center;
                padding: 0px;
                vertical-align: middle;
              }

              td:nth-child(2) {
                height: 3.5em !important;
                line-height: 2;
                text-align: center;
                padding: 0px;
                vertical-align: middle;

                p {
                  margin: 0px;

                  .fa-circle-xmark {
                    color: red;
                    font-size: 1.5em;
                  }

                  .fa-circle-check {
                    color: green;
                    font-size: 1.5em;
                  }
                }
              }
            }

            tr:nth-child(6) {
              td:nth-child(1) {
                background: #313945;
                color: white;
                font-weight: 600;
                height: 3.5em !important;
                line-height: 2;
                text-align: center;
                padding: 0px;
                vertical-align: middle;
              }

              td:nth-child(2) {
                height: 3.5em !important;
                line-height: 2;
                text-align: center;
                padding: 0px;
                vertical-align: middle;

                p {
                  margin: 0px;

                  .fa-circle-xmark {
                    color: red;
                    font-size: 1.5em;
                  }

                  .fa-circle-check {
                    color: green;
                    font-size: 1.5em;
                  }
                }
              }
            }

            tr:nth-child(7) {
              td:nth-child(1) {
                background: #313945;
                color: white;
                font-weight: 600;
                height: 3.5em !important;
                line-height: 2;
                text-align: center;
                padding: 0px;
                vertical-align: middle;
              }

              td:nth-child(2) {
                height: 3.5em !important;
                line-height: 1.5;
                padding: 0px;
                vertical-align: middle;

                p {
                  margin: 0.5em auto;
                  width: 90%;
                  text-align: start;
                }
              }
            }
          }

          button {
            width: 100%;
          }
        }
      }
    }
  }


  #modalFilter {
    .modal-dialog {
      .modal-content {
        .modal-header {
          background: #313945;
          color: white;

          .close {
            color: white;
          }
        }

        .modal-body {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          table {
            tr:nth-child(1) {
              td {
                background: #313945;
                color: white;
                font-size: 1.2em;
                font-weight: 600;
                text-align: center;

                .dateContent {
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;

                  p {
                    margin: 0px;
                    margin-right: 0.5em;
                  }

                  #dateFilter {
                    width: 50%;
                    text-align: center;
                  }
                }
              }
            }


            tr:nth-child(2) {
              td:nth-child(1) {
                background: #313945;
                color: white;
                font-weight: 600;
                height: 3.5em !important;
                line-height: 2;
                text-align: center;
                padding: 0px;
                vertical-align: middle;
              }

              td:nth-child(2) {
                height: 3.5em !important;
                line-height: 2;
                text-align: center;
                padding: 0px;
                vertical-align: middle;

                .capacityContent {
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  width: 100%;

                  #capacityFilter {
                    width: 8em;
                    margin: 0px;
                    text-align: center;
                  }

                  p {
                    margin: 0px;
                    margin-left: 0.5em;
                    font-weight: 500
                  }
                }

              }
            }

            tr:nth-child(3),
            tr:nth-child(4),
            tr:nth-child(5) {
              td:nth-child(1) {
                background: #313945;
                color: white;
                font-weight: 600;
                height: 3.5em !important;
                line-height: 2;
                text-align: center;
                padding: 0px;
                vertical-align: middle;
              }

              td:nth-child(2) {
                height: 3.5em !important;
                line-height: 2;
                text-align: center;
                padding: 0px;
                vertical-align: middle;

                input {
                  text-align: center;
                  width: 2em;
                  margin: auto;
                }
              }
            }

          }


          .buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100%;

            button {
              width: 30%;
            }
          }


        }
      }
    }
  }


  #modalLoad {
    .modal-dialog {
      .modal-content {
        .modal-body {
          background: #313945;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;


          .titleLoad {
            font-size: 1.5em;
            font-weight: 600;
            color: white;
          }











          .lds-roller {
            display: inline-block;
            position: relative;
            width: 80px;
            height: 80px;
          }

          .lds-roller div {
            animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            transform-origin: 40px 40px;
          }

          .lds-roller div:after {
            content: " ";
            display: block;
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: white;
            margin: -4px 0 0 -4px;
          }

          .lds-roller div:nth-child(1) {
            animation-delay: -0.036s;
          }

          .lds-roller div:nth-child(1):after {
            top: 63px;
            left: 63px;
          }

          .lds-roller div:nth-child(2) {
            animation-delay: -0.072s;
          }

          .lds-roller div:nth-child(2):after {
            top: 68px;
            left: 56px;
          }

          .lds-roller div:nth-child(3) {
            animation-delay: -0.108s;
          }

          .lds-roller div:nth-child(3):after {
            top: 71px;
            left: 48px;
          }

          .lds-roller div:nth-child(4) {
            animation-delay: -0.144s;
          }

          .lds-roller div:nth-child(4):after {
            top: 72px;
            left: 40px;
          }

          .lds-roller div:nth-child(5) {
            animation-delay: -0.18s;
          }

          .lds-roller div:nth-child(5):after {
            top: 71px;
            left: 32px;
          }

          .lds-roller div:nth-child(6) {
            animation-delay: -0.216s;
          }

          .lds-roller div:nth-child(6):after {
            top: 68px;
            left: 24px;
          }

          .lds-roller div:nth-child(7) {
            animation-delay: -0.252s;
          }

          .lds-roller div:nth-child(7):after {
            top: 63px;
            left: 17px;
          }

          .lds-roller div:nth-child(8) {
            animation-delay: -0.288s;
          }

          .lds-roller div:nth-child(8):after {
            top: 56px;
            left: 12px;
          }

          @keyframes lds-roller {
            0% {
              transform: rotate(0deg);
            }

            100% {
              transform: rotate(360deg);
            }
          }






















        }
      }
    }
  }


  #modalProfile {
    .modal-dialog {
      .modal-content {
        .modal-header {
          background: #313945;
          color: white;

          .close {
            color: white;
          }
        }

        .modal-body {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          .form-line {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
            margin-bottom: 1em;

            .form-group {
              margin: 0px;

              label {
                font-size: 0.8em;
                color: #888;
                margin-bottom: 0px;
              }

              input {
                width: 18em;
                border-radius: 0.25rem 0rem 0rem 0.25rem;
                height: 2.5em;
              }
            }

            .btn-icon {
              width: 2.5em;
              height: 2.5em;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 0rem 0.25rem 0.25rem 0rem;

              i {
                font-size: 1em;
              }
            }
          }

          .buttons {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-top: 1.5em;

            #changePass {
              width: 60%;
            }

            .btnClose {
              width: 30%;
            }
          }

        }
      }
    }
  }




}

td>.fc-datagrid-cell-frame>.fc-datagrid-cell-cushion>.fc-datagrid-cell-main {
  font-size: 0.7em;
  font-weight: 500;
  margin-left: -2em;
}


#moreIcon {
  position: absolute;
  left: 0.2em;
  height: 1em;
  font-size: 0.9em;
  margin: 0px;
  margin-top: -2em;
  font-weight: 500;
  color: #313945;

  i {
    margin-right: 1em;
  }
}

@media (min-width: 430px) {
  body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .content-calendar {
      width: 100vw;
      height: 100vh;
      overflow-y: scroll;
      overflow-x: hidden;
      background-color: #f7f8fa;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .nav {
        background-color: #313945;
        position: fixed;
        top: 0px;
        left: 0px;
        height: 100vh;
        width: 12em;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        z-index: 99;

        .nav-header {
          height: 10em;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .logo {
            width: 5em;
            user-select: none;
          }
        }

        ol {
          list-style: none;
          width: 100%;
          padding: 0px;

          li {
            color: white;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 1em 0em;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            user-select: none;

            i {
              margin-right: 0.5em;
            }

            p {
              font-size: 0.9em;
              font-weight: bold;
              width: 50%;
              line-height: 0.9em;
              margin: 0px;
            }
          }

          li:hover {
            color: #313945;
            background-color: #f7f8fa;
            transition: 0.3s ease-in-out;
          }
        }
      }

      .btnMenuResponsive {
        display: none;
      }

      .calendar-section {
        width: calc(100vw - 12em);
        margin-left: 12em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .info-section {
          width: 95%;
          height: 5em;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;

          .resource-content {
            background: #313945;
            padding: 0.5em;
            border-radius: 4px;
            width: 20em;
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            label {
              width: 4em;
              color: #f7f8fa;
              margin: 0px;
            }

            .select2-container {
              width: 15em !important;
            }

            #select2-resourcesSelect-container {
              font-size: 1em;
              font-weight: bold;
              background: white;
              border-radius: 2px;
              width: 15em;
            }
          }

          #titlePage {
            font-size: 1.5em;
            font-weight: bold;
            color: #313945;
            background: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 50%;
            padding: 0.3em 0em;
            border-radius: 8px 8px 8px 8px;
            margin-top: 0em !important;

            p {
              i {
                padding: 0.3em;
                background: #313945;
                border-radius: 4px;
                color: white;
              }

              width: 100%;
              margin: 0px;
              margin-right: 0.5em;
            }
          }
        }

        #calendar {
          width: 95%;
          margin-bottom: 0.5em;
        }
      }
    }

    ::-webkit-scrollbar {
      width: 8px;
      height: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #162b3e;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #c9a892;
    }

    #modal {
      .modal-dialog {
        .modal-content {
          .modal-header {
            background: #313945;
            color: white;

            .close {
              color: white;
            }
          }

          .modal-body {
            width: 100%;

            #eventForm {
              width: 100%;

              .info-event {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;

                .form-group {
                  width: 45%;

                  label {
                    font-size: 0.8em;
                    font-weight: 600;
                    color: #162b3e;
                    margin: 0px;
                  }

                  input {
                    background-color: #162b3e;
                    color: white;
                    user-select: none;
                  }
                }
              }

              .name-event {
                width: 100% !important;

                label {
                  font-size: 0.8em;
                  font-weight: 600;
                  color: #162b3e;
                  margin: 0px;
                }
              }

              .times {
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: row;
                padding: 0.5em 0.5em 0em 0.5em;
                background: #76767a12;
                border: solid 1px #80808042;
                border-radius: 8px;
                margin-top: 1.3em;

                .form-group {
                  width: 11em !important;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: flex-start;

                  label {
                    font-size: 0.8em;
                    font-weight: 600;
                    color: #162b3e;
                    margin: 0px;
                    margin-bottom: 0.2em;
                  }

                  .beginTime-content,
                  .endTime-content {
                    width: 11em;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    #timeBegin,
                    #timeEnd {
                      width: 11em !important;
                      height: 2.5em;
                      background-color: #162b3e;
                      color: white;
                      position: relative;
                      z-index: 1;
                      user-select: none;
                      text-align: start;
                    }



                    .btn-content {
                      width: calc(4em + 3px);
                      height: 4em;
                      position: relative;
                      z-index: 1;
                      display: flex;
                      flex-direction: row;
                      justify-content: center;
                      align-items: center;
                      margin-left: calc(-4em - 3px);
                      background-color: #162b3e;
                      border-radius: 0.25rem;

                      #plusBegin,
                      #minusBegin,
                      #plusEnd,
                      #minusEnd {
                        width: 2em;
                        background-color: #162b3e;
                        color: white;
                        cursor: pointer;
                        border: none;
                        padding: 0px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: none;
                        margin: 0em 3px;
                        background-color: #162b3e;

                        i {
                          font-size: 1.8em;
                        }
                      }

                      #plusBegin:focus {
                        border: none;
                      }
                    }

                  }
                }
              }

              .extras {
                width: 80%;
                margin: auto;
                margin-top: 1em;

                tr:nth-child(1) {
                  td:nth-child(1) {
                    background: #313945;
                    color: white;
                    font-size: 1.2em;
                    font-weight: 600;
                    text-align: center;
                    width: 100%;
                    height: 2em;

                    #assistantsQuantitySection {
                      display: flex;
                      flex-direction: row;
                      justify-content: space-around;
                      align-items: center;

                      .titleInput {
                        margin: 0px;
                      }

                      .titleAux {
                        margin: 0px;
                      }

                      #assistantsQuantity {
                        width: 6em !important;
                        text-align: center;
                      }
                    }
                  }
                }

                tr:nth-child(2) {
                  td:nth-child(1) {
                    padding: 0.5em 0em;

                    .contentCheck {
                      width: 6em;

                      input {
                        margin-left: 1em;
                        margin-top: 0.4em;
                      }

                      label {
                        margin: 0px;
                        margin-left: 2.4em;
                        font-weight: 600;
                      }
                    }
                  }

                  td:nth-child(2) {
                    padding: 0.5em 0em;
                    width: 15em;

                    #drinksQuantitySection {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      flex-direction: row;

                      input {
                        height: 2em;
                        width: 4em;
                        margin-right: 1em;
                      }

                      p {
                        margin: 0px;
                        font-weight: 500;
                      }
                    }
                  }
                }

                tr:nth-child(3) {
                  td:nth-child(1) {
                    padding: 0.5em 0em;

                    .contentCheck {
                      width: 6em;

                      input {
                        margin-left: 1em;
                        margin-top: 0.4em;
                      }

                      label {
                        margin: 0px;
                        margin-left: 2.4em;
                        font-weight: 600;
                      }
                    }
                  }

                  td:nth-child(2) {
                    padding: 0.5em 0em;
                    width: 15em;

                    #snacksQuantitySection {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      flex-direction: row;

                      input {
                        height: 2em;
                        width: 4em;
                        margin-right: 1em;
                      }

                      p {
                        margin: 0px;
                        font-weight: 500;
                      }
                    }
                  }
                }

                tr:nth-child(4) {
                  td:nth-child(1) {
                    padding: 0.5em 0em;

                    .contentCheck {
                      width: 6em;

                      input {
                        margin-left: 1em;
                        margin-top: 0.4em;
                      }

                      label {
                        margin: 0px;
                        margin-left: 2.4em;
                        font-weight: 600;
                      }
                    }
                  }

                  td:nth-child(2) {
                    padding: 0.5em 0em;
                    width: 15em;

                    #mealsQuantitySection {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      flex-direction: row;

                      input {
                        height: 2em;
                        width: 4em;
                        margin-right: 1em;
                      }

                      p {
                        margin: 0px;
                        font-weight: 500;
                      }
                    }
                  }
                }

                tr:nth-child(5) {
                  td:nth-child(1) {
                    padding: 0.5em 0em;

                    .contentCheck {
                      width: 6em;

                      input {
                        margin-left: 1em;
                        margin-top: 0.4em;
                      }

                      label {
                        margin: 0px;
                        margin-left: 2.4em;
                        font-weight: 600;
                      }
                    }
                  }

                  td:nth-child(2) {
                    padding: 0.5em 0em;
                    width: 15em;

                    #othersQuantitySection {
                      width: 80%;
                      margin: auto;

                      textarea {
                        resize: none;
                        font-size: 0.9em;
                      }
                    }
                  }
                }
              }

              #buttons {
                margin-top: 2em;
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: row;

                #add,
                #cancel,
                #update,
                #delete {
                  width: 30%;
                  font-weight: 600;

                  i {
                    margin-right: 0.5em;
                  }
                }

                #add {
                  background-color: rgb(18, 188, 69);
                  color: white;
                }

                #update {
                  background-color: #41d2e9;
                  color: white;
                }

                #delete {
                  background-color: rgb(222, 70, 70);
                  color: white;
                }

                #cancel {
                  background-color: rgb(125, 125, 125);
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }


  #moreIcon {
    position: absolute;
    left: 1em;
    height: 1em;
    font-size: 0.9em;
    margin: 0px;
    margin-top: -2em;
    font-weight: 500;
    color: #313945;

    i {
      margin-right: 1em;
    }
  }

  td>.fc-datagrid-cell-frame>.fc-datagrid-cell-cushion>.fc-datagrid-cell-main {
    font-size: 1em;
    font-weight: 400;
    margin-left: 0em;
  }
}