body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body .content-login {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #f7f8fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .content-login .info {
  width: 100%;
  height: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .content-login .info .logo {
  width: 18em;
}

body .content-login #login {
  width: 22em;
  height: 20em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

body .content-login #login .title-form {
  color: #313945;
  font-size: 1.5em;
  font-family: Arial !important;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .content-login #login .title-form span {
  margin-top: -14px;
}

body .content-login #login .form-group {
  width: 80%;
}

body .content-login #login .form-group label {
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 0px;
  color: #bdbcc1;
  font-family: Arial !important;
}

body .content-login #login .form-group input {
  background-color: var(--gray-form);
}

body .content-login #login .btn {
  background-color: #313945;
  width: 80%;
}

body .content-login #login .btn i {
  margin-right: 0.5em;
}

@media (min-width: 430px) {
  body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  body .content-login {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #f7f8fa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .content-login .info {
    width: 100%;
    height: 10em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .content-login .info .logo {
    width: 30em;
  }
  body .content-login #login {
    width: 30em;
    height: 20em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: white;
  }
  body .content-login #login .title-form {
    color: #313945c3;
    font-size: 1.5em;
    font-family: Arial !important;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .content-login #login .title-form span {
    margin-top: -8px;
  }
  body .content-login #login .form-group {
    width: 80%;
  }
  body .content-login #login .form-group label {
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 0px;
    color: #bdbcc1;
    font-family: Arial !important;
  }
  body .content-login #login .form-group input {
    background-color: var(--gray-form);
  }
  body .content-login #login .btn {
    background-color: #313945;
    width: 80%;
  }
}
/*# sourceMappingURL=login.css.map */